.checkout-container footer {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  padding: 10px;
  position: fixed;
  width:-webkit-fill-available;
  left: 1px;
  bottom: 0;
}

.checkout-container footer div p {
   margin: 0 0.5rem;
}

.checkout-container footer div p:nth-child(2) {
  color: #595756;
}

.checkout-container footer button {
  flex: 1;
  margin-left: 0.5rem;
}