.checkout-container footer {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  padding: 10px;
  position: fixed;
  width:-webkit-fill-available;
  left: 1px;
  bottom: 0;
}

.checkout-container footer div p {
   margin: 0 0.5rem;
}

.checkout-container footer div p:nth-child(2) {
  color: #595756;
}

.checkout-container footer button {
  flex: 1;
  margin-left: 0.5rem;
}

.checkout-item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.checkout-item-container p:nth-child(2) {
  font-weight: 900;
}

.form-address-to-delivery-container {
  font-size: 0.7rem;
  margin-bottom: 150px;
}

.form-address-to-delivery-container label{
  width: 100%;
}

.form-address-to-delivery-container input{
  font-size: 0.7rem;
}

.btn-outline-danger {
  margin: 0.5rem;
  margin-bottom: 50px;
  width: 100%;
}