.details-order-seller-container {
  margin: auto;
}

.details-order-container {
  border: 2px solid rgba(128, 128, 128, 0.473);
  display: flex;
  flex-direction: column;
}

.details-order-container section {
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px;
}

.render-info-pedidos {
  align-self: center;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.render-info-pedidos p {
  padding: 5px;
  margin-bottom: 0;
  line-height: 0.8;
}

.status-details {
  background-color: #87d53c;
  border-radius: 5px;
  line-height: 1;
  margin: 0.5rem;
  padding: 2px 10px;
  width: 50%;
}

.details-order-seller-container button {
  background-color: #44c18c;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  margin: 1rem auto;
  padding: 5px 20px;
}

.details-order-container section button:nth-child( 2 ) {
  background-color: #236b51;
}

.orders-steps {
  background-color: rgb(223, 221, 221);
  position: relative;
  width: 95%;
  top: 12px;
  z-index: -1;
}

.pendente {
  background-color: #ffbb00;
  width: 25%;
  z-index: 999;
}

.entregue {
  background-color: #4fd5b0;
  width: 95%;
}

.details-order-container h3 {
  margin-left: auto;
}

.details-order-container span {
  margin-right: 1rem;
}

.list-item-header span {
  text-align: center;
}

.details-order-container span:nth-child( 2 ) {
  font-weight: 300;
  margin-right: 1rem;
}

.details-order-container ul {
  flex-grow: 1;
  padding: 10px;
}

.list-item-header {
  display: flex;
  padding: 10px 10px 0;
}

/* .list-item-header span:nth-child( 5 ) {
  width: 6rem;
}

.list-item-header span:nth-child( 4 ) {
  width: 6rem;
}

.list-item-header span:nth-child( 3 ) {
  width: 6rem;
} */

.list-item-header span:nth-child( 2 ) {
  flex-grow: 1;
}


.details-order-container li {
  list-style-type: none;
}

.details-order-container > p {
  align-self: flex-end;
  background-color: #236b51;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  margin: 1rem;
  padding: 5px;
  text-align: center;
}

.render-button {
  text-align: center;
}

.buttons-seller-container {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.buttons-seller-container button {
  font-size: 0.8rem;
  padding: 5px;
  margin: auto;
}