.register-container {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  padding: 30px 20px;
}